extends roverLayout

block moreStyles
  link(rel='stylesheet', href='/stylesheets/alarm.css')

block bodyContent
  .jumbotron Home Alarm Status - #{alarmStatus}
    button#armButton.btn.btn-danger Arm System
  #status
    each row, i in layoutGrid
      each col in row
        div.status(id=col)= col
      br
  #msg
    img#heartIcon(src="/images/message.png" alt="message icon" title="click to view msg")
    | Message [
    span#lastMsgNum
    | ]&nbsp;
    span#ago
    | at&nbsp;
    span#lastMsgTime
  #activityLog

block moreScripts
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/refresh.js')
