extends layout

block camera
  img(id='stream', src='/stream', alt='please wait for live streaming to start...') 

block joystick
  a.up() f
  a.left() l
  a.right() r
  a.down() b

block status
  img(id='batteryIcon', src='images/batterySmall.png', alt='battery')
