extends layout

block stream
  img(id='stream', src='/stream', alt='please wait for live streaming to start...') 

block joystick
  a.up() f
  a.left() l
  a.right() r
  a.down() b

block pan
  a.panLeft() <
  a.panRight() >

block status
  img(id='batteryIcon', src='images/batterySmall.png', alt='battery')

block copyright
  p Copyright @ 2013 by Samuel Lu
