doctype 5
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    
  body
    .container
      .navbar.navbar-default
        .navbar-header
          .container
            a(href='#').navbar-brand Raspberry Pi Rover
            ul.nav.navbar-nav
              li.active
                a(href='/control') Control
              li
                a(href='/status') Date
      .jumbotron(style='text-align:center; background-image: url(/images/circuits.jpg)')
        a.btn.btn-lg.btn-success Logon
        p
        img(src='/still', alt='Live Still Image')#still
    script(type='text/javascript', src='//code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
