extends roverLayout

block moreStyles
  link(rel='stylesheet', href='/stylesheets/live.css')

block bodyContent
  url = "http://" + headers.host.replace("8088", "8081");
  //- console.log("live.jade: headers = " + JSON.stringify(headers) + ", url = " + url);
  img(src='#{url}')
