extends roverLayout

block moreStyles
  link(rel='stylesheet', href='/stylesheets/motion.css')

block bodyContent
  p.jumbotron Motion Detected Camera Clips
    button#deleteButton.btn.btn-danger Delete
  #files
  #pics

block moreScripts
  script(type='text/javascript', src='/javascripts/motionListing.js')
