extends roverLayout

block moreStyles
  link(rel='stylesheet', href='/stylesheets/roverHome.css')

block bodyContent
  p.jumbotron Welcome Home
  img(src='/secure/still', alt='Motion capture running, click on Motion or Live on the menu bar above to view.')#still
