#controlPanel {
  display: none;
}

#stream {
  display: block;
  width: 100%;
  height: 100%;
  border: 10px solid #333;
  border-radius: 5px;
}

.ctlbtn{
  width: 40px;
  line-height: 100%; /* vertical center */
  text-align: center; /* horizon center */
  background: #222;
  border-radius: 5px;
  color: lime;
  box-shadow: 
    inset 0 0 40px #333, 
    0 4px 0 black, 
    0 2px 0 #444, 
    0 2px 3px #333;
  text-shadow: 0 -2px 0 black;
  font: bold 40px/40px arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 1px solid #222;
  position: absolute;
  opacity: 0.5;
}
.ctlbtn.active{
  color:#888;
  background:#222;
  box-shadow:
    inset 0 0 40px #333,
    0 0 3px #333;
  margin-top: 4px;
}

#debugMsg {
  top: 40px;
  left: 140px;
  padding: 20px;
  opacity: 0.5;
  display: none;
  position: absolute;
}

#onoffSwitch {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
}

.panLeft{
  top: 45%;
  left: 40px;
}

.panRight {
  top: 45%;
  right: 40px;
}

.up{
  bottom: 200px;
  left: 150px;
}
.left{
  bottom: 160px;
  left: 100px;
}
.right{
  bottom: 160px;
  left: 200px;
}
.down{
  bottom: 120px;
  left: 150px;
}

#status {
  text-align: center;
  width: 50px;
  margin: 0 auto;
  position: absolute;
  bottom: 130px;
  right: 100px;
}

#batteryIcon {
  opacity: .3;
}

#volts {
  opacity: .6;
  font: bold 20px/20px arial, sans-serif;
  color: red;
}

#copyright {
  font-size: smaller;
  text-align: center;
}
