html, body {
  height: 100%;
}

body {
  background: #f2f9fe;
}

.bodyContainer {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.navbar { border-radius: 0px; }

.navbar-header .navbar-brand { color: rgb(158, 158, 39); }
